<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>GPMCGroupProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginService</servlet-name>
    <servlet-class>com.gpmc.servletAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/GPMCGroupProject/loginService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chatPortQuery</servlet-name>
    <servlet-class>com.gpmc.servletAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chatPortQuery</servlet-name>
    <url-pattern>/GPMCGroupProject/chatPortQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateMove</servlet-name>
    <servlet-class>com.gpmc.servletAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateMove</servlet-name>
    <url-pattern>/GPMCGroupProject/CreateMove</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fileUpload</servlet-name>
    <servlet-class>com.gpmc.servletAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileUpload</servlet-name>
    <url-pattern>/GPMCGroupProject/fileUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fileDownload</servlet-name>
    <servlet-class>com.gpmc.servletAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileDownload</servlet-name>
    <url-pattern>/GPMCGroupProject/fileDownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutService</servlet-name>
    <servlet-class>com.gpmc.servletAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutService</servlet-name>
    <url-pattern>/GPMCGroupProject/logoutService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryTopicDetail</servlet-name>
    <servlet-class>com.gpmc.servletAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryTopicDetail</servlet-name>
    <url-pattern>/GPMCGroupProject/queryTopicDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getUserList</servlet-name>
    <servlet-class>com.gpmc.servletAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUserList</servlet-name>
    <url-pattern>/GPMCGroupProject/getUserList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>storeTopic</servlet-name>
    <servlet-class>com.gpmc.servletAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>storeTopic</servlet-name>
    <url-pattern>/GPMCGroupProject/storeTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fillMove</servlet-name>
    <servlet-class>com.gpmc.servletAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fillMove</servlet-name>
    <url-pattern>/GPMCGroupProject/fillMove</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TurnData</servlet-name>
    <servlet-class>com.gpmc.servletAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TurnData</servlet-name>
    <url-pattern>/GPMCGroupProject/TurnData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MoveDataQuery</servlet-name>
    <servlet-class>com.gpmc.servletAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveDataQuery</servlet-name>
    <url-pattern>/GPMCGroupProject/MoveDataQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryTeamLeader</servlet-name>
    <servlet-class>com.gmpc.servletAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryTeamLeader</servlet-name>
    <url-pattern>/GPMCGroupProject/queryTeamLeader</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>changeDetail</servlet-name>
  	<servlet-class>com.gpmc.servletAPI</servlet-class>  
  </servlet>
  <servlet-mapping>
  	<servlet-name>changeDetail</servlet-name>
  	<url-pattern>/GPMCGroupProject/changeDetail</url-pattern>
  </servlet-mapping>
</web-app>